.shop-container{
    display: grid;
    grid-template-columns: 4fr 1fr;
}

.product-container{
    background-color: whitesmoke;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 45px;
}

.cart-container{
    background-color: rgba(255, 153, 0, 0.3);
    font-family: 'Lato';
    font-weight: 400;
    font-size: 25px;
}

.cart-container h3 {
    text-align: center;
    margin-bottom: 50px;
}

.cart-container p {
    margin-left: 23px;
    font-size: 16px;
    font-weight: 500;
}
.btn-grid{
    display: grid;
    grid-template-columns: repeat(1 1fr);
    gap: 20px;
    margin: 0 15px;
}

.btn-cart-clear{
    width: 232px;
    height: 48px;
    margin: 0 auto;
    background-color: #FF3030;
    color: white;
    border: none;
    border-radius: 0;
    align-items: center;
}

.btn-cart-clear:hover{
    border: none;
    background-color: #df0909;
}
.btn-review-order{
    width: 232px;
    height: 48px;
    margin: 0 auto;
    background-color: #FF9900;
    color: white;
    border: 0;
    border-radius: 0;
}

.btn-review-order:hover{
    background-color: #fea725;
}